body {
  font-family: Roboto, sans-serif;
  background-color: #EFF1ED;
  margin: 0;
}

h1{
  margin: 0;
}

h3{
  margin-top: 1%;
  margin-bottom: 1%;
}

#header {
  background-color: #FCD7AD;
  margin: 0;
  text-align: center;
  width: 100%;
  height: 5rem;
}

#body{
  margin-left: 2%;
}
