body {
  font-family: Roboto, sans-serif;
  background-color: #EFF1ED;
  margin: 0;
}

h1 {
  margin: 0;
}

h3 {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 30%;
  margin-right: 0;
  position: relative;
  left: 0px;
}

label {
  color: #EFF1ED;
}

select {
  position: relative;
  left: 0px;
}

h4{
  margin-top: 0;
  margin-bottom: 10%;
  color: #EFF1ED;
}

p, ul, div{
  display: inline-block;
}

#header {
  background-color: #FCD7AD;
  margin: 0;
  text-align: center;
  width: 100%;
  height: 5rem;
  border-radius: 7px;
}

#body {
  margin-left: 2%;
  width: 33%;
  margin-right: 0px;
  padding-right: 0;
  display: inline-block;
  float: left;
}

#formDiv {
  display: inline-block;
  margin-right: 5%;
  margin-top: 2%;
  padding: 3%;
  width: 15%;
  background-color: #717744;
  border-radius: 10px;
}

#faves {
  display: inline-block;
  float: right;
  margin-right: 8%;
}

#saveRec {
  margin-top: 7%;
  width: 100%;
}

#form {
  padding: 1%;
}
